%form.form-horizontal.top-margin-2{ action: '/build_torrent', method: 'POST' }
  -# Frequently used fields
  = haml :'index/main_fields', locals: { torrent_file: torrent_file }

  -# Info block
  = haml :'index/info_fields', locals: { torrent_file: torrent_file }

  -# Advanced fields
  = haml :'index/additional_fields', locals: { torrent_file: torrent_file }

  .form-group.delivery-type-group
    .col-sm-2
    %label.col-sm-2.right-aligned{ for: 'delivery_type' } File delivery
    .col-sm-6
      %label.radio-inline
        %input{ type: 'radio', name: 'delivery_type', value: 'email' } By email
      %label.radio-inline
        %input{ type: 'radio', name: 'delivery_type', value: 'direct', checked: :checked } Directly
    .col-sm-2

  .form-group.email.hidden
    .col-sm-2
    %label.col-sm-2.right-aligned{ for: 'email' } Email
    .col-sm-6.template-container
      .row
        .col-sm-12
          %input.form-control{placeholder: "Email", type: 'email', name: 'email' }
    .col-sm-2


  .form-group
    .col-sm-5
    .col-sm-3
      .output
    .col-sm-1
      .loader.hidden
        %img{ src: '/assets/loader.gif' }
    .col-sm-1
      %button.btn.btn-default.btn-danger.pull-right.submit-button Generate
    .col-sm-2
